<h1>使用者新增表單</h1>
<form action="/user" method="POST">
    <input type="text" name="name" placeholder="姓名" required>
    <input type="text" name="gender" palceholder="性別" required>
    <input type="number" name="age" placeholder="年紀" required>
    <input type="submit" value="送出" name="submit">
</form>